<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/Login.css">
</head>
<body>
    <section class="login-form">
        <img src="/static/image/Main_Logo.jpg" height="400"></img>
        <form method="post" action="/login" autocomplete="off"> <!-- 로그인을 처리하는 경로로 변경 -->
            <div class="int-area">
                <input type="text" name="username" id="username" required>
                <label for="username">아이디</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="password" required>
                <label for="id">비밀번호 </label>
            </div>
            <div class="btn-area">
                <button type="submit" id="btn"> 로그인</button>
            </div>
        </form>
        <div class="caption">
            <a href="forgot_password.html">비밀번호 찾기</a>
        </div>
    </section>

    <script>
        const username = document.querySelector("#username");
        const password = document.querySelector("#password");
        const btn = document.querySelector("#btn");

        function form_checking() {
            if (username.value == "") {
                alert('아이디를 입력바랍니다.');
                username.focus();
                return false;
            }
            if (password.value == "") {
                alert('비밀번호를 입력바랍니다.');
                password.focus();
                return false;
            }
        }

        btn.addEventListener("click", form_checking);

    </script>

</body>
</html>
